<div class="form-group">
    Rôles : 
    Normal <input type="checkbox" name="normal" id="normal" checked disabled>
    <label for="admin">Admin </label> <input type="checkbox" name="admin" id="admin" <%= typeof admin != "undefined" ? "checked" : "" %>>
    <label for="gestion">Gestion </label> <input type="checkbox" name="gestion" id="gestion" <%= typeof gestion != "undefined" ? "checked" : "" %>>
</div>
