
<div class="form-group">
    <label for="email">Adresse Courriel</label>
    <input type="email" name="email" id="email" class="form-control" 
      placeholder="Entrez courriel"
      value="<%= typeof email != 'undefined' ? email : '' %>" <%= typeof emailREADONLY != "undefined" ? "readonly": "" %> >
</div>