<div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" name="nom" id="nom" class="form-control" 
      placeholder="Entrez le nom"
      value="<%= typeof nom != 'undefined' ? nom : '' %>" >
</div>