<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <%- include('./partielles/messages') %>
      <h1><i class="fab fa-brands fa-node-js fa-3x"></i></h1>
      <h2>Travail pratique 2</h2>
      <h2>Utilisateur : <%= usager.nom%></h2>
      <a href="/usagers/menu" class="btn btn-primary btn-block mb-2">
        Gestion des usagers
      </a>
      <a href="/livres/" class="btn btn-primary btn-block mb-2">
        Affichage/Gestion des livres
      </a>
      
      <a href="/usagers/logout" class="btn btn-secondary btn-block">Se déconnecter</a>
    </div>
  </div>
</div>
