<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <% include  ("./partielles/messages") %>
        <h2>Vous etes deconnecter</h2>    
      </div>
    </div>
  </div>
  